/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Guided style */
:root {
  /* Color mode HSL(hue, saturation, lightness) */
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;

  /* Font and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Reset Style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Common Style */
.wrap {
  width: 100%;
  height: auto;
  /* overflow: hidden;  */
}
.container {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1024px;
}
/*.home-txt*/
.button {
  font-size: var(--h3-font-size);
  color: #fff;
  background: var(--first-color);
  border-radius: 0.5rem;
  padding: 0.8rem 1.4rem;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

/* Navigation Style */
.header {
  box-shadow: 0 5px 10px #efefef;
}
.container.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.navi-logo {
  font-size: 1.15rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  display: flex;
  align-items: center;
}
.navi-logo i {
  color: var(--first-color);
  margin-right: 5px;
}
.nav-menu,
.nav-list {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
}
.nav-list > .nav-item {
  background: var(--body-color);
}
.nav-list .nav-link {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--title-color);
  padding-bottom: 0.5rem;
}
.nav-list .active .nav-link {
  color: var(--first-color);
  position: relative;
}
.nav-list .active .nav-link::before {
  content: "";
  width: 50%;
  height: 2px;
  background: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0;
}
.nav-btns {
  display: flex;
  column-gap: 0.5rem;
}
.nav-btns .nav-icon,
.nav-btns .nav-hamburger {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  display: flex;
  align-items: center;
}
.nav-btns .nav-hamburger {
  display: none;
}

/* Main (HOME) Style */
.container.c-home {
  display: flex;
  padding: 13rem 0 5rem 0;
  width: 100%;
}
.home-txt {
  width: 55%;
  margin: auto;
}
.home-txt div {
  padding-bottom: 2rem;
}
.home-txt .home-title {
  font-size: 3.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  padding-bottom: 1rem;
  line-height: 4.5rem;
}
.home-txt .home-detail {
  color: var(--text-color);
  height: auto;
}
.home-txt .button i {
  padding-left: 0.3rem;
}
.home-img {
  width: 35%;
  display: flex;
  justify-content: center;
}
.home-sns {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-sns .sns-title {
  display: flex;
  align-items: center;
  margin: 5rem 0 3rem 0;
  font-size: var(--small-font-size);
  transform: rotate(90deg);
}
.home-sns .sns-title::after {
  position: absolute;
  background: var(--first-color);
  content: "";
  width: 50%;
  height: 2px;
  left: 4.2rem;
}
.sns-icon {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.sns-icon a {
  color: var(--text-color);
}

/* Main (ABOUT) Style */
.c-about {
  display: flex;
  padding: 3rem 0;
}
.about-img {
  width: 40%;
}
.about-txt {
  margin-left: 10%;
  width: 50%;
}
.about-txt .about-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 3rem;
  padding-bottom: 1rem;
}
.about-check {
  padding-top: 2rem;
  font-size: var(--small-font-size);
  font-weight: 400;
}
.about-checkItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}
.about-checkItem i {
  background: var(--first-color);
  color: #fff;
  margin-right: 0.4rem;
}
.about-button {
  font-size: var(--body-font);
  color: var(--first-color);
  padding-top: 3rem;
  display: flex;
  align-items: center;
}

/* Main (STEP) Style */
#step {
  padding: 3rem 0;
}
.c-step {
  margin-top: 3rem;
  background: var(--first-color);
  border-radius: 1rem;
  padding: 2rem 0;
}
.step-title {
  color: #fff;
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
  padding: 1rem 0;
}
.step-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
.step-info .step-infoItem {
  background: #fff;
  width: 30%;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
}
.step-infoItem .info-num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h2-font-size);
  background: var(--first-color);
  width: 3.5rem;
  height: 3.5rem;
  color: #fff;
  border-radius: 0.3rem;
}
.step-infoItem .info-title {
  padding: 1.5rem 0 0.8rem 0;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.step-infoItem .info-detail {
  font-size: var(--small-font-size);
}

/* Main (PRODUCTS) Style */
#products {
  padding: 6rem 0;
}
.products-txt {
  text-align: center;
}
.products-title,
.qna-title,
.contact-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  line-height: 3.3rem;
}
.products-detail {
  padding: 2rem 0;
}
.all-products {
  display: flex;
  flex-wrap: wrap;
}
.product-wrap {
  padding: 3rem;
  width: 33.33%;
}
.product-img {
  width: 100%;
  text-align: center;
  position: relative;
}
.product-img .product-circle {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background: var(--first-color-lighten);
  border-radius: 50%;
  left: 25%;
  top: 30%;
}
.product-img > img {
  width: 147px;
  transform: translateX(1.7rem);
  transition: all 0.3s ease;
}
.product-img:hover > img {
  transform: translate(30px, -30px);
}
.product-desc {
  padding: 1rem 0;
  display: flex;
}
.product-name,
.product-price {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.product-price {
  font-size: var(--small-font-size);
}
.product-cart {
  background-color: var(--first-color);
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  margin-top: 1rem;
}

/* Main (QNA) Style */
#qna {
  background: var(--first-color-lighten);
}
.c-qna {
  padding: 3rem 0;
}
.qna-title {
  padding-top: 3rem;
}
.qna-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0;
  row-gap: 1rem;
  align-items: flex-start;
}
.qna-item {
  background-color: #fff;
  width: calc((50% - 0.5rem));
  cursor: pointer;
  transition: all 0.4s ease;
}
.qna-item:hover {
  box-shadow: 0 0 8px rgb(131, 131, 131);
}
.qna-header {
  display: flex;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--title-color);
}
.qna-header i {
  font-size: 1.25rem;
  margin-right: 10px;
}
.qna-header h3 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.qna-answer {
  _display: none;
  width: 100%;
  padding: 1rem;
  font-size: var(--small-font-size);
}
/* .qna-item.active {
  background: var(--first-color);
}
.qna-item.active .qna-header i,
.qna-item.active .qna-header h3,
.qna-item.active .qna-answer {
  color: #fff;
} */

/* Main (CONTACT) Style */
#contact {
  padding: 5rem 0;
}
.c-contact {
  display: flex;
}
.contact-title {
  line-height: 3.5rem;
}
.contact-info {
  width: 45%;
}
.info-txt {
  padding-top: 2rem;
}
.info-title {
  color: var(--text-color);
  font-weight: var(--font-medium);
}
.info-detail {
  color: var(--title-color);
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.info-detail i {
  margin-right: 10px;
}
.input-info {
  width: 55%;
  padding: 2rem 0 0 5%;
}
.input-info input,
.input-info textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b4b1b1;
  padding: 1rem 0 1rem 0;
  margin-bottom: 2rem;
  resize: none;
  outline: none;
}
.input-info p {
  position: relative;
}
.input-info p label {
  position: absolute;
  font-size: 13px;
  top: 1rem;
  left: 0;
  transition: all 0.3s;
}
.input-info p input:focus + label,
.input-info p textarea:focus + label {
  top: -0.4rem;
}
.input-info p input:not(:placeholder-shown).input:not(:focus) + label,
.input-info p textarea:not(:placeholder-shown).input:not(:focus) + label {
  top: -0.4rem;
}
.input-info button {
  font-size: var(--normal-font-sizeås);
}
.input-info i {
  padding-left: 0.5rem;
}

/* Main (FOOTER) Style */
#footer {
  padding: 4rem 0;
}
.c-footer {
  display: flex;
}
.footer-item {
  width: 22%;
}
.footer-item:nth-child(1) {
  width: 34%;
}
.footer-item .item-title {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  font-size: var();
}
.item-title.first {
  padding: 2rem 0;
}
.footer-item .item-detail {
  font-size: var(--smaller-font-size);
  border-radius: 0.5rem;
  padding: 1rem 0;
}
.footer-item .item-detail.first {
  display: flex;
  align-items: center;
  background: var(--first-color-lighten);
  width: 80%;
  padding: 0.8rem;
}
.footer-item .item-detail > .button {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-left: 1.1rem;
}
.footer-item .item-detail > span {
  display: block;
  padding: 0.4rem 0;
}
.item-detail .sns-icon {
  flex-direction: row;
  padding-top: 0.5rem;
}
.item-detail .sns-icon i {
  padding-right: 0.5rem;
}
.cardWrap {
  display: flex;
  padding: 1.5rem 0;
}
.cardWrap .card {
  width: 40px;
  padding-right: 0.4rem;
}
/* Memo 
(1)
<박스, 텍스트 그림자 효과> 
박스와 글자에 그림자 효과를 표현한다. 첫번째 값은 x축, 두번째 값은  y축, 세번째 값은 번짐, 네번째 값은 그림자 색을 나타낸다

 box-shadow: 0 10px 20px red;
 text-shadow: 0 10px 20px gray;

 (2) 
 input 태그는 자식을 둘 수 없다.
 따라서 아이콘 같은 자식 요소가 필요할 때는 버튼을 사용한다.

 (3) placeholder-shown : placeholder가 보이는 것을 체크한다. 만약 사용자가 값을 입력하면 placeholder가 보이지 않는다.
*/
