@media screen and (max-width: 980px) {
  /* header style */
  header {
    background: #fff;
    border-bottom: 1px solid var(--color-gray-d);
  }
  header .container {
    grid-template-columns: 1fr 1fr;
  }
  header .logo {
    justify-content: flex-start;
  }
  header .container > *:not(.logo, .mobile-btn-wrapper) {
    display: none;
  }

  .mobile-menus {
    display: block;
    position: absolute;
    top: 101%;
    width: var(--ls-full);
    background: #fff;
    box-shadow: 0 1px 3px var(--color-gray-d);
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .mobile-menus .nav-lists {
    display: block;
  }
  .mobile-menus .nav-lists li {
    text-align: center;
    padding: 0;
  }
  .mobile-menus li a {
    display: block;
    width: 100%;
    font-size: var(--fs-16);
    padding: var(--el-medium) 0;
    border-bottom: 1px solid var(--color-gray-d);
  }
  header .mobile-menus .info {
    display: flex;
    justify-content: center;
  }

  header .mobile-btn {
    display: block;
  }
  .mobile-btn-wrapper {
    justify-content: flex-end;
  }

  /* landing section style */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.35;
  }
  .landing-text-box h1 {
    text-shadow: 1px 1px 1px var(--color-gray-d);
  }
  .landing-text-box p {
    width: var(--ls-1-2);
  }

  /* features section style */
  .feature {
    padding: 0 var(--el-normal);
  }

  /* slider style */
  .swiper-slide .slider-txt h4 {
    font-size: var(--fs-16);
  }
  .swiper-slide .slider-txt p {
    font-size: var(--fs-12);
    padding: var(--el-medium) 0;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
  }
  .slider-txt .common-btn {
    font-size: var(--fs-12);
  }

  /* Special offers style */
  .special-offers h4 {
    padding: var(--el-wide) 0;
  }
  .product-item {
    padding: var(--el-normal);
  }
  .product-txt .product-desc {
    width: 90%;
  }

  /* Review Section */
  .review-frame {
    padding: 0 var(--el-normal);
  }
  .review-txt {
    height: 50px;
    -webkit-line-clamp: 2;
  }
  .review-user {
    padding: var(--el-medium) 0 var(--el-normal) 0;
  }

  /* Insta Section */
  .c-insta {
    flex-direction: column;
  }
  .c-insta ul li {
    display: flex;
  }
  .insta-left-img,
  .c-insta ul li p {
    display: none;
  }
  .insta-right-img,
  .insta-txt {
    width: var(--ls-1-full);
  }
  .insta-right-img ul li:nth-child(1) {
    width: var(--ls-1-3);
  }
  .insta-right-img ul li:nth-child(2) {
    display: flex;
    width: calc(var(--ls-full) - var(--ls-1-3));
  }
  .insta-right-img ul li:nth-child(2) img {
    width: var(--ls-1-2);
  }

  .c-insta .insta-txt {
    padding-bottom: var(--el-section-small);
  }
  .insta-txt .insta-title {
    width: var(--ls-full);
    font-size: 25px;
  }
  .insta-txt .insta-id {
    padding: 25px 0;
  }
}

@media screen and (max-width: 786px) {
  html {
    font-size: 14px;
  }
  .section {
    padding: var(--el-section-small) 0;
  }
  .container {
    padding: 0 var(--el-medium);
  }
  /* Meet Section style */
  .meet-section .meet-wrapper {
    flex-direction: column;
    padding: 0 10%;
  }
  .meet-section .meet-textBox {
    width: var(--ls-full);
  }
  .meet-section .meet-textBox p {
    margin: 0;
    width: var(--ls-full);
  }
  .meet-section .meet-imgBox {
    width: var(--ls-full);
    padding: 30px 0;
  }

  /* features section style */
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature {
    width: 60%;
    padding: var(--el-wide) 0;
  }

  /* slider style */
  .swiper-slide .slider-txt p {
    display: none;
  }
  .slider-txt .common-btn {
    display: block;
    margin: var(--el-wide) 0;
  }

  /* Special offers style */
  .special-offers h4 {
    font-size: 25px;
  }
  .products {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .product-frame {
    width: var(--ls-full);
  }
  .product-item {
    display: flex;
    padding: var(--el-normal);
  }
  .product-item .product-img {
    width: var(--ls-1-2);
  }
  .product-item .product-img img {
    width: 90%;
  }
  .product-txt {
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    width: var(--ls-1-2);
  }
  .product-txt h6 {
    font-size: var(--fs-20);
    padding: 0 0 var(--el-medium) 0;
  }
  .product-txt .product-price {
    font-size: var(--fs-18);
  }
  .product-txt .product-desc {
    width: 90%;
    padding: var(--el-medium) 0;
  }

  /* Review Section */
  .review-section h4 {
    padding: var(--el-wide) 0 var(--el-medium) 0;
  }
  .reviews {
    padding: var(--el-wide);
  }
  .review-frame {
    width: var(--ls-1-2);
  }
  .review-frame {
    padding: var(--el-medium);
  }
  .review-txt {
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .landing-text-box {
    text-align: center;
  }
  .landing-text-box h1 {
    font-size: 1.8rem;
  }
  .landing-text-box p {
    width: 80%;
    margin: auto;
  }
  .overlay {
    opacity: 0.7;
  }

  /* Meet Section style */
  .meet-section .meet-wrapper {
    padding: 0 5%;
  }
  .meet-section .meet-textBox p,
  .meet-section .meet-textBox span {
    font-size: var(--fs-16);
  }
  .meet-section .meet-imgBox {
    column-gap: var(--el-normal);
    padding: 30px 0;
  }
  .meet-section .meet-left-image {
    row-gap: var(--el-normal);
  }

  /* features section style */
  .feature {
    width: 80%;
  }

  /* slider style */
  .swiper-slide .slider-txt h4 {
    display: none;
  }
  .slider-txt .common-btn {
    display: none;
  }
  .swiper-slide .slider-img {
    width: var(--ls-full);
  }
  .swiper-slide .slider-txt {
    width: 0;
    padding: 0;
  }

  /* special offers style */
  .products {
    flex-wrap: nowrap;
  }
  .product-txt h6 {
    font-size: var(--fs-18);
    padding: 0 0 var(--el-medium) 0;
  }
  .product-txt .product-price {
    font-size: var(--fs-16);
  }
  .product-txt .product-desc {
    font-size: var(--fs-12);
    width: 90%;
    padding: var(--el-normal) 0;
  }
  .product-txt .common-btn {
    font-size: var(--fs-12);
  }

  /* Review Section */
  .review-frame {
    width: var(--ls-1-full);
  }
  /* gallery section */
  .grid-item {
    width: var(--ls-1-2);
  }

  /* insta section */
  .insta-txt .insta-title {
    font-size: 20px;
  }
}
