/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Noto+Sans+KR:wght@100;300;400;500&display=swap");

/* Root Style */
:root {
  /* 1. color */
  --color-black: #000;
  --color-gray-2: #222;
  --color-gray-3: #333;
  --color-gray-d: #ddd;

  /* 2. font-weight */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-title-name: 400;
  --fw-price: 600;

  /* 3. font-size */
  --fs-8: 0.5rem;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-title: 2.5rem;
  --fs-button: 0.875rem;
  --fs-name: 1.25rem;
  --fs-small-text: 0.875rem;

  /* 4. layout size */
  --ls-1-6: 16.6666%;
  --ls-1-5: 20%;
  --ls-1-4: 25%;
  --ls-1-3: 33.3333%;
  --ls-1-2: 50%;
  --ls-full: 100%;

  /* 5. element interval */
  --el-section: 7.5rem;
  --el-small: 0.5rem;
  --el-normal: 0.75rem;
  --el-medium: 1.25rem;
  --el-wide: 2.5rem;
  --el-section-small: 3rem;
}

/* Reset Style */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", "Inter", sans-serif;
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
img {
  display: block;
}
input,
textarea,
button {
  outline: 0;
  border: 0;
  background: #fff;
  border-radius: 0;
}

/* Common Style */
.wrapper {
  width: var(--ls-full);
  height: auto;
  overflow: hidden;
}
.container {
  width: var(--ls-full);
  max-width: 1280px;
  height: auto;
  margin: auto;
  padding: 0 var(--el-wide);
}
.section {
  width: var(--ls-full);
  height: auto;
  padding: var(--el-section) 0;
}
.common-btn {
  padding: var(--el-small) var(--el-medium);
  background: var(--color-black);
  color: #fff;
  border-radius: 0.25rem;
  font-size: var(--fs-14);
  width: fit-content;
}

/* Header Style */
header {
  position: fixed;
  width: var(--ls-full);
  height: auto;
  padding: 1.75rem 0;
  z-index: 15;
}
header.active {
  background: #fff;
  border-bottom: 1px solid var(--color-gray-d);
}

header .container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}
header .container * {
  display: flex;
}
.header .nav-lists {
  display: flex;
}
.header .nav-lists li {
  padding: 0 2rem 0 0;
}
.header .nav-lists li a {
  font-size: var(--fs-14);
}
.header .nav-lists li a:hover {
  text-decoration: underline;
}

header .logo {
  justify-content: center;
}
header .logo a {
  width: 100px;
}
header .logo img {
  width: 100%;
}

header .info {
  justify-content: flex-end;
  align-items: center;
}
header .info li {
  display: flex;
  padding: 0 0 0 1rem;
}
header .info li a {
  font-size: var(--fs-14);
}
header li.sns a {
  width: 20px;
}
header li.sns ul {
  display: flex;
}
header li.sns li a img {
  width: var(--ls-full);
}

header li.cart a {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 0.25rem;
  background: var(--color-black);
  padding: 0 0.5rem;
  height: 1.8rem;
}
header li.cart a em {
  font-style: normal;
}

header li.user {
  padding: 0 0 0 0.25rem;
}
header li.user button {
  background: transparent;
  border: 1px solid var(--color-black);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  height: 1.8rem;
  font-size: var(--fs-18);
  display: flex;
  align-items: center;
}
.mobile-menus {
  display: none;
}
header .mobile-btn {
  display: none;
}
.mobile-btn {
  width: 1.8rem;
  cursor: pointer;
}
span.bar_line {
  display: block;
  width: var(--ls-full);
  height: 2px;
  background: var(--color-black);
  transition: all 0.3s;
  position: relative;
  margin: auto;
  border-radius: 2px;
}
span.bar_line:nth-child(2) {
  margin: 5px auto;
}

.mobile-btn.active span.bar_line:nth-child(1) {
  animation: ease 0.5s top forwards;
}
.mobile-btn.active span.bar_line:nth-child(2) {
  animation: ease 0.5s scaled forwards;
}
.mobile-btn.active span.bar_line:nth-child(3) {
  animation: ease 0.5s bottom forwards;
}

.mobile-btn.not-active span.bar_line:nth-child(1) {
  animation: ease 0.5s top-back forwards;
}
.mobile-btn.not-active span.bar_line:nth-child(2) {
  animation: ease 0.5s scaled-back forwards;
}
.mobile-btn.not-active span.bar_line:nth-child(3) {
  animation: ease 0.5s bottom-back forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(40deg);
  }
}
@keyframes scaled {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 5px;
    transform: rotate(140deg);
  }
}

@keyframes top-back {
  0% {
    top: 10px;
    transform: rotate(40deg);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes scaled-back {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bottom-back {
  0% {
    bottom: 5px;
    transform: rotate(140deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

/* Lading Section Style */
#main-section {
  padding: 0;
  width: var(--ls-full);
  height: 100vh;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-section img {
  position: absolute;
  width: var(--ls-full);
  min-width: 1280px;
  height: var(--ls-full);
  object-fit: cover;
}

.landing-text-box {
  z-index: 10;
}
.landing-text-box h1 {
  font-size: var(--fs-title);
  line-height: 1.4;
  font-weight: var(--fw-400);
}
.landing-text-box p {
  font-size: var(--fs-14);
  width: var(--ls-1-3);
  padding: var(--el-medium) 0;
}
.common-btn button {
  padding: var(--el-small) var(--el-medium);
  background: var(--color-black);
  color: #fff;
  border-radius: 0.25rem;
  font-size: var(--fs-14);
}

/* meet section style */
.meet-section .meet-wrapper {
  width: var(--ls-full);
  height: auto;
  display: flex;
  column-gap: var(--el-wide);
  align-items: center;
}
.meet-section .meet-textBox {
  width: var(--ls-1-2);
}
.meet-section .meet-textBox h4 {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
}
.meet-section .meet-textBox p {
  font-size: var(--fs-18);
  line-height: 1.8;
  width: 80%;
  padding: var(--el-wide) 0 var(--el-medium) 0;
  position: relative;
}
.meet-section .meet-textBox p::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-black);
  left: 0;
  bottom: 0;
}
.meet-section .meet-textBox span {
  display: flex;
  font-size: var(--fs-18);
  padding: var(--el-medium) 0;
  align-items: center;
}
.meet-section .meet-textBox span::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--color-black);
  display: block;
  margin: 0 10px;
}
.meet-section .meet-imgBox {
  width: var(--ls-1-2);
  display: flex;
  align-items: center;
  column-gap: var(--el-medium);
}
.meet-section .meet-left-image {
  width: var(--ls-1-2);
  display: flex;
  flex-direction: column; /* flex가 column인 경우 align-items 가 가로, justify-contents 가 세로 됨 */
  align-items: flex-end;
  row-gap: var(--el-medium);
}
.meet-section .meet-right-image {
  width: var(--ls-1-2);
}
.meet-section .meet-imgBox img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}
.meet-section .meet-imgBox img:nth-child(2) {
  width: 80%;
}

/* features section style */
.features-section {
  padding: var(--el-section-small) 0 0 0;
}
.features {
  display: flex;
  justify-content: space-between;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--ls-1-3);
  height: auto;
  text-align: center;
  padding: 0 var(--el-wide);
}
.feature h4 {
  padding: var(--el-medium) 0;
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
}
.feature p {
  font-size: var(--fs-small-text);
  font-weight: var(--fw-300);
}
.feature-img {
  display: flex;
  justify-content: center;
}

/* Slider Section style */
.swiper-slide {
  display: flex;
  padding: 0 var(--el-wide);
  width: var(--ls-full);
}
.swiper-slide .slider-img {
  width: var(--ls-1-2);
}
.swiper-slide .slider-img img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}
.swiper-slide .slider-txt {
  width: var(--ls-1-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--el-wide);
}
.slider-section .swiper-slide.swiper-slide-active .slider-txt {
  animation: show-up 0.5s 1;
  animation-fill-mode: forwards;
  transform: translateY(40px);
}
@keyframes show-up {
  from {
    transform: translateY(40);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.swiper-slide .slider-txt h4 {
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
}
.swiper-slide .slider-txt p {
  font-size: var(--fs-16);
  font-weight: var(--fw-300);
  width: 80%;
  padding: var(--el-medium) 0 var(--el-wide) 0;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  background: var(--color-black);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-black);
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--color-gray-d);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
}

/* Special offers style */
.special-offers h4 {
  width: var(--ls-full);
  text-align: center;
  padding: var(--el-section) 0;
  font-size: 30px;
  font-weight: var(--fw-400);
}
.products {
  width: var(--ls-full);
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--el-normal);
}
.product-frame {
  width: var(--ls-1-3);
}
.product-item {
  width: var(--ls-full);
  padding: var(--el-wide);
}
.product-item .product-img img {
  width: var(--ls-full);
}
.product-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-txt h6 {
  font-size: var(--fs-18);
  font-weight: var(--fw-400);
  padding: var(--el-normal) 0;
}
.product-txt .product-price {
  font-size: var(--fs-18);
  font-weight: var(--fw-price);
}
.product-txt .product-desc {
  font-size: var(--fs-14);
  font-weight: var(--fw-300);
  width: 90%;
  padding: var(--el-medium) 0;
}

/* Review Section */
.review-section {
  background-image: url("/soap-shop/images/review/review-background.jpeg");
  background-size: cover;
  padding: var(--el-section) 0 var(--el-wide) 0;
}
.review-section h4 {
  width: var(--ls-full);
  text-align: center;
  padding: var(--el-normal) 0;
  font-size: 30px;
  font-weight: var(--fw-400);
}
.reviews {
  width: var(--ls-full);
  display: flex;
  flex-wrap: wrap;
  padding: var(--el-section) 0 var(--el-small) 0;
}
.review-frame {
  opacity: 0.5;
  padding: 0 var(--el-medium);
  width: var(--ls-1-3);
}
.review-item {
  background-color: #fff;
  padding: var(--el-wide);
  width: var(--ls-full);
}
.review-txt {
  font-size: var(--fs-14);
  text-align: center;
  font-weight: var(--fw-300);
  line-height: 1.4rem;
  height: 90px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.review-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--el-wide) 0 var(--el-normal) 0;
}
.user-img {
  width: 40px;
}
.user-img img {
  width: var(--ls-full);
  border-radius: 50%;
}
.user-name {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  padding: var(--el-normal) 0;
}
.user-date {
  font-size: var(--fs-12);
  font-weight: var(--fw-300);
}

/* Gallery Section */
.gallery-section h4 {
  width: var(--ls-full);
  text-align: center;
  padding: var(--el-section) 0;
  font-size: 30px;
  font-weight: var(--fw-400);
}
.grid-item {
  width: var(--ls-1-3);
  padding: var(--el-small);
}
.grid-item img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}

/* Insta Section */
.c-insta {
  display: flex;
  justify-content: space-between;
}
.c-insta ul {
  width: var(--ls-full);
  display: flex;
}
.c-insta ul li {
  width: var(--ls-1-2);
  /* height: 400px; */
  opacity: 0.5;
}
.insta-left-img,
.insta-right-img,
.insta-txt {
  width: var(--ls-1-3);
}
.insta-left-img ul li:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.insta-right-img ul li:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.insta-right-img ul li:nth-child(1) p {
  transform: rotate(90deg);
  height: var(--ls-full);
}
.c-insta li img {
  width: var(--ls-full);
  height: auto;
  object-fit: cover;
  padding: 5px;
  border-radius: 0.25rem;
}

.c-insta .insta-txt {
  /* width: var(--ls-full); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.insta-txt .insta-title {
  text-align: center;
  width: 90%;
  font-size: 30px;
  font-weight: var(--fw-400);
}
.insta-txt .insta-id {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.insta-txt .instaid i {
  padding: 0 6px;
}
